<h1>Create New Movie:</h1>

<a href="/movies" class="btn btn-default">Cancel</a>


<%= form_tag "/movies", method: :post do %>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name">
  </div>
  <select name="theater_name">
    <% @theaters.each do |theater| %>
      <option><%= theater.name %></option>
    <% end %>
  </select>
  <div>
    <input type="submit" value="Add Movie">
  </div>
<% end %>