<h1>Edit Showtime</h1>

<div><a href="/movies" class="btn btn-default">Cancel</a></div>
<br>
<h3>Movie:  <%= @showtime.movie.name %></h3>

<%= form_tag "/showtimes/#{@showtime.id}", method: :patch do %>
  <div>
    <label for="date">Date:</label>
    <input type="date" name="date" value="<%= @showtime.date %>">
  </div>
  <div>
    <label for="time">Time:</label>
    <input type="time" name="time" value="<%= @showtime.time %>">
  </div>
  <br>
  <div>
    <input type="submit" value="Update Showtime">
  </div>
<% end %>

