<h1>Create New Showtime:</h1>

<a href="/movies" class="btn btn-default">Cancel</a>


<%= form_tag "/showtimes", method: :post do %>
  <div>
    <input type="hidden" name="movie_id" value="<% @showtime.movie_id %>">
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="date" name="date">
  </div>
  <div>
    <label for="time">Time:</label>
    <input type="time" name="time">
  </div>
  <div>
    <input type="submit" value="Add Showtime">
  </div>
<% end %>