<h1>Showtime</h1>
<a href="/showtimes/<%= @showtime.id %>/edit" class="btn btn-default">Edit Showtime</a>


<h3>Theater: <%= @showtime.theater_id %></h3>
<h3>Movie: <%= @showtime.movie_id %></h3>
<h3>Showtime: <%= @showtime.showtime %></h3>

<a href="/showtimes" class="btn btn-default">Home</a>