<h1>Welcome to LaunchPad Theater!</h1>

<div style="float: left; padding-right: 50px;"><a href="/theaters/new" class="btn btn-default">Add Theater</a></div>
<div><a href="/movies" class="btn btn-default">All Movies</a></div>

<div>
  <ol>
  <% @theaters.each do |theater| %>
  <li>
    <div><h3><a href="/theaters/<%= theater.id %>"><%= theater.name %></a></h3></div>
    <div>
    <h5>Seats: <%= theater.seats %></h5>
    </div>
  </li>
  <% end %>
  </ol>
</div>