<h1>Welcome to LaunchPad Theater!</h1>

<a href="/theaters/new" class="btn btn-default">Add Theater</a>

<% @theaters.each do |theater| %>
  <h3><a href="/theaters/<%= theater.id %>"><%= theater.name %></a></h3>
  <h5><%= theater.seats %></h5>
<% end %>