<h1>Welcome to LaunchPad Theater!</h1>

<a href="/theaters/new" class="btn btn-default">Add Theater</a>

<% @theaters.each do |theater| %>
  <div><h3><a  style="float: left; padding-left: 50px;" href="/theaters/<%= theater.id %>"><%= theater.name %></a></h3></div>
  <div><h5 style="float: left; padding-left: 25px; padding-right: 25px;">Seats: <%= theater.seats %></h5></div>
  <div>
    <%= form_tag "/theaters/#{theater.id}", method: :delete do %>
      <div>
      <input type="submit" value="Remove Theater">
      </div>
    <% end %>
  </div>
<% end %>

