<h1>Welcome to LaunchPad Theater!</h1>

<a href="/theaters/new" class="btn btn-default">Add Theater</a>

<% @theaters.each do |theater| %>
  <span><h3><a href="/theaters/<%= theater.id %>"><%= theater.name %></a></h3></span>
  <span><h5><%= theater.seats %></h5></span>
  <span>
    <%= form_tag "/theaters/#{theater.id}", method: :delete do %>
      <input type="submit" value="X">
    <% end %>
  </span>
<% end %>

