<h1>Theater</h1>
<a href="/theaters/<%= @theater.id %>/edit" class="btn btn-default">Edit Theater</a>


<h3>Name: <%= @theater.name %></h3>
<h3>Seats: <%= @theater.seats %></h3>

<a href="/theaters" class="btn btn-default">Home</a>